@model ThirdYear.Models.Student

@{
    ViewData["Title"] = "Display Result";
}

<h1>Your Result</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arabic_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arabic_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student_case)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student_case)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student_case_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student_case_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.c_flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.c_flag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
